*.class
log/
*.csv
.idea/
.DS_Store
*.swp
TSP.iml
/Team01_Travelling_Salesman.iml
/data/datastore.db.script
/data/datastore.db.properties
/data/datastore.db.lck
/data/datastore.db.log
/out
/build
/data/datastore.db.tmp/
